<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YU-YU-Hakusho</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Yu_Yu_Hakusho_logo.png" alt="YU-YU-Hakusho logo">
    <img class="draw" src="https://th.bing.com/th/id/OIP.O6CshG7nVnmzlYchyHR1hAHaHa?pid=ImgDet&rs=1"  alt="draw">
    <!-- <img class="sign" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Yoshihiro_Togashi_sign.svg/1024px-Yoshihiro_Togashi_sign.svg.png" alt="Yoshihiro_Togashi_sign"> -->
    <div>
        <a href='/about'>
            <button>About</button>
        </a>
        <a href='/works'>
            <button>Works</button>
        </a>
    </div>
</body> 
</html>