<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pagina</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Aqui encontraras muchas cosas grandiosas </h1>
    <div>
        <span> mi nombres es Alexis y estoy en entrenamiento para ser un web developer :D</span>
        <span>en esta pagina podras encontrar un sin fin de cosas que tratan sobre mi, como donde estudie, donde trabaje, mis trabajos, en que soy bueno y mucho    mas </span> 
    </div>

</body> 
</html>