<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>Work</title>
</head>
<body>
    <h2>YU-YU-Hakusho</h2>
    <span>
        <p>Yusuke Urameshi es un joven rebelde que tras morir se convierte en un detective del inframundo, la serie consta de 175 capítulos publicados entre 1990 y 1994 y recopilada en 19 tankobond, cosecha un gran éxito y hace de Togashi uno de los mangakas más exitosos y reconocidos, una adaptación animada se realiza entre 1992 y 1994 aumentando su popularidad. De esta obra también se crean dos películasYū Yū Hakusho Gekijōban (el secuestro de koenma) de 1993 y Yū Yū Hakusho: Meikai Shitouhen Honoo no Kizuna (los invasores del infierno) de 1994, además de unas OVAs tipo videoclip como: Heizō Hakusho I y Heizō Hakusho II... entre 1995 y 1996. Después de eso Togashi toma un receso creativo, por motivos de cansancio.1​
            Yū Yū Hakusho ha vendido más de 50 millones de copias sólo en Japón. y ha sido editado en varios países como Francia, Italia y Estados Unidos, en Argentina por la editorial Ivrea, en México por el Grupo Editorial Vid y en España por la editorial Glénat. En el caso del Anime se transmitió en España en idioma catalán por el extinto canal público K3, en Brasil por la cadena Rede Manchete y en toda Latinoamérica doblado al español ibérico transmitido en diferentes cadenas de televisión y canales de televisión paga, igualmente el Anime fue doblado y transmitido en diferentes idiomas, en Estados Unidos donde compitió con la popular serie Dragon Ball Z ayudando a que el anime y el manga se hicieran conocidos en Estados Unidos.
            En la mitad de los años 90's, aparece otro trabajo de Togashi llamado Level E, que trata sobre un joven universitario que debe devolverle la memoria a un alienígena, que en realidad es un príncipe de un planeta lejano el cual es atacado por aliens de otros planetas e intenta por medio de sus contactos mantener la paz, publicado entre 1995 y 1997 con 16 capítulos recopilados en con 3 volúmenes.
            En 2011 se hizo un Anime de esa serie por el mismo estudio de animación que elaboró la serie Yū Yū Hakusho, Studio Pierrot junto a TV Tokyo, y David Production, bajo la dirección de Toshiyuki Katou​ contando con 13 episodios.
        </p>
    </span>
    <img class="img3" src="https://64.media.tumblr.com/ed5b97dd7937ad3bbe65b84ec90e943d/23ad5621d7ce806c-14/s1280x1920/c1daf809acab22ddfa94c15d05056053a72b35c0.jpg" alt="yuyuhakusho">

    <h2>Hunter X Hunter</h2>
    <span class="p1">
        <p>El 3 de marzo de 1998, Togashi reaparece con el Manga Hunter X Hunter2​ publicado en la misma editorial que en sus trabajos anteriores, en esta ocasión Togashi retoma varias fórmulas usadas en Yu Yu Hakusho conservando elementos de acción, comedia y horror. Nos narra las aventuras de Gon quien busca convertirse en cazador para entender las motivaciones de su padre, junto a Killua, Kurapika y Leorio, cuatro jóvenes con diferentes motivaciones y contextos que se harán amigos encontrando obstáculos y recompensas que les mostraran un mundo lleno de misterios, aventuras, obstáculos y contradicciones en los diferentes caminos que eligen para lograr sus objetivos.
            Una primera adaptación animada se vería en un episodio mostrado en el “Jump Super Anime Tour" de 1998, adaptado al Anime.3​ En 1999, bajo la dirección de Kazuhiro Furuhashi y la producción de Nippon Animation en la cual Togashi estaría más inmerso, esta adaptación tendría una gran acogida en Japón y un final momentáneo tras alcanzar en su historia al manga, a petición de los fans se realizan tres series de ovas en 2001 dirigida por Satoshi Saga, en 2003 y 2004 dirigidas por Yukihiro Matsushita y Makoto Sato respectivamente, en 2011 se realiza una segunda adaptación por el estudio Madhouse cubriendo hasta el volumen 28 del manga, este mismo equipo realiza el film Hunter × Hunter: Phantom Rouge, con un libreto completamente original.
            Hunter X Hunter es uno de los títulos más famosos de Togashi en Japón, extendiéndose en todo el mundo incluyendo el anime, sin embargo, problemas de salud que ya venía manifestando durante la realización de Yu Yu Hakusho empeoraron, esta obra se ha visto afectada por una intermitencia en su publicación muy marcada, a la fecha Hunter x Hunter se ha vuelto su trabajo más longevo con 390 capítulos recopilados en 36 volúmenes y más exitoso con 78 millones de volúmenes vendidos.
            En 2001 Togashi fue el séptimo editor en jefe de "Weekly Shonen Jump".z
            En 2017 escribe el manga de dos capítulos Akuten Wars (悪天ウォーズ) ilustrado por Hachi Mizuno y publicado en las ediciones septiembre y diciembre de la Grand Jump, este mismo año ilustra versiones manga de la cantante Jun Togawa y la banda de rock Vampillia con motivo de un álbum en conjunto.
        </p>
    </span>
    <img class="img3" src="https://i.pinimg.com/736x/a5/6e/b3/a56eb3165b625195a92773b8ab7e0620.jpg" alt="Yoshihiro Tagashi y esposa">


    <a href="/">
        <button>Main</button>
    </a>
</body>
</html>